* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
body {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
 }

header section.top-bar {
    background-color: #8fc1a9;
    width: 100%;    
}
header section.top-bar h3{
    color: #faf3dd;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    width: 100%; 
}
section.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
div.menu-hamburquesa {
    width: 10%;
    text-align: center;
}
div.menu-hamburquesa i{
    color: #7caa98;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
.main-logo {
    width: 45%;
    max-width: 290px;
}
.main-logo img {
    width: 100%;
}
section div.search-form {
    display: flex;
    align-items: center;
}

section div.search-form form input{
    display: none;
}
section div.search-form form button {
    background-color: white;
    border: 0px;
}
nav.main-nav {
    display: none;
}
div.carrito a {
    color: black;
}
div.login a{
    color: black;
}
nav.main-nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
section.product {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    justify-content: space-evenly;
}
section.product h3 {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}
.product-box {
    display: flex;
    flex-direction: column;
    align-items : center;
    width: 45%;
    padding: 10px 5px;
}
section div.product-img {
    border: #8fc1a9 solid 2px;
    width: 100px;
    height: 100px;
    margin: 10px 5px;
}
footer div.conteiner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf3dd;
    padding: 10px;
}
footer div.conteiner div.footer-item {
    padding: 5px 0px;
    width: 25%;
}
footer div.conteiner div.footer-item ul {
    text-decoration: none;
}
@media (min-width:740px){
    div.menu-hamburquesa {
        display: none;
    }
    section div.search-form {
        width: 45%;
    }
    section div.search-form form {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    section div.search-form form label {
        width: 90%;
    }
    section div.search-form form label input{
        background-color: #faf3dd;
        border: 1px solid #7caa98;
        outline: none;
        color: #666;
        padding: 2px;
        width: 100%;
        display: flex;
    } 
    section div.search-form form i {
        background-color: white;
        border: 0px;
    }
    nav.main-nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .product-box {   
        width: 30%;
        max-width: 230px;
    }
}
@media (min-width:980px) {
    .product-box {   
        width: 18%;
    }
    footer div.conteiner {
        width: 100vw;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}