<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="css/indexStyle.css">
  <title>Entrelíneas</title>
</head>
<body>

  <header>
    <section class="top-bar">
      <h3>Lugar para promociones</h3>
    </section>
    <section class="main-header">
      <div class="menu-hamburquesa">
        <i class="fa fa-bars burger"></i>
      </div>
      <div class="main-logo">
        <img src="/images/02-Logo-small.jpeg" alt="Logo de la Libreria Entrelineas">
      </div>
      <div class="search-form">
        <form method="get" action="#">
          <label for="search-bar">
          <input type="text" name="search-bar" id="search-bar" placeholder="Buscar libro, autor y más..." class="search-bar">
          </label>
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    <div class="carrito">
      <a href="productCart"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <div class="login">
      <a href="login"><i class="fas fa-user-circle"></i></a>
    </div>
    <nav class="main-nav">
      <a href="#">Temática</a>
      <a href="#">Novedades</a>
      <a href="#">Más vendidos</a>
      <a href="#">Sagas</a>
      <a href="#">Packs</a>
    </nav>
    </section>
  </header>

  <main>
    
    <section class="carrusel">
    </section>

    <section class="product">
      <h3>Novedades</h3>

      <article class="product-box">
        <div class="product-img">
          <a href="productDetail"><img src="#" alt="Libro Anhelo"/></a>
        </div>
        <div class="product-title">
          <h4>Anhelo</h4>
          <span>$4300</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="#" alt="Libro Caballo de fuego congo"/>
        </div>
        <div class="product-title">
          <h4>Caballo de fuego CONGO</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="#" alt="Libro El hechizo del agua"/>
        </div>
        <div class="product-title">
          <h4>El hechizo del agua</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="#" alt="Libro El peligro de estar cuerda"/>
        </div>
        <div class="product-title">
          <h4>El peligro de estar cuerda</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="#" alt="Libro Tu y yo invencibles"/>
        </div>
        <div class="product-title">
          <h4>Tú y yo invencibles</h4>
          <span>$3000</span>
        </div>            
      </article>

    </section>

  </main>

  <footer>
    <div class="conteiner">

      <div class="footer-item">
        <h5>Compras</h5>
        <ul type="none">
          <li><small>Búsqueda</small></li>
          <li><small>Términos del Servicio</small></li>
          <li><small>Política de Reembolso</small></li>
        </ul>
      </div>

      <div class="footer-item">
        <h5>Atención al Cliente</h5>
        <ul type="none">
          <li><small>Contacto</small></li>
          <li><small>Preguntas frecuentes</small></li>
          <li><small>Medios de pago</small></li>
        </ul>
      </div>

      <div class="footer-item">
        <h5>Entrelíneas</h5>
        <ul type="none">
          <li><small>Quiénes somos</small></li>
        </ul>
      </div>

    </div>

  </footer>
</body>
</html>