<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <!-- div complete-conteiner para que pueda quedar fijo el header y el resto escrolea como una sola cosa, sino el footer quedaba descolgado -->
  <div class="complete-conteiner">
  <main>
      <section class="product">
      <h2 id="novedades">Novedades</h2>

        <% for (const product of products){ %>
          <%- include('./partials/product-item', {product}) %>

        <% } %>

    <section class="product">
      <h2 id="mas-vendidos">Más Vendidos</h2>
      
      <!-- <article class="product-box">
        <div class="product-img">
          <a href="product-detail"><img src="images/Libro-anhelo.webp" alt="Libro Anhelo"/></a>
        </div>
        <div class="product-title">
          <h4>Anhelo</h4>
          <span>$4300</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-Caballo-de-fuego-congo.webp" alt="Libro Caballo de fuego congo"/>
        </div>
        <div class="product-title">
          <h4>Caballo de fuego CONGO</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-el-hechizo-del-agua.webp" alt="Libro El hechizo del agua"/>
        </div>
        <div class="product-title">
          <h4>El hechizo del agua</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-el-peligro-de-estar-cuerda.webp" alt="Libro El peligro de estar cuerda"/>
        </div>
        <div class="product-title">
          <h4>El peligro de estar cuerda</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-tu-y-yo-invencibles.webp" alt="Libro Tu y yo invencibles"/>
        </div>
        <div class="product-title">
          <h4>Tú y yo invencibles</h4>
          <span>$3000</span>
        </div>            
      </article> 

    </section> -->

    <section class="product">
      <h2 id="sagas">Sagas</h2>

      <article class="product-box">
        <div class="product-img">
          <a href="productDetail"><img src="images/Libro-anhelo.webp" alt="Libro Anhelo"/></a>
        </div>
        <div class="product-title">
          <h4>Anhelo</h4>
          <span>$4300</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-Caballo-de-fuego-congo.webp" alt="Libro Caballo de fuego congo"/>
        </div>
        <div class="product-title">
          <h4>Caballo de fuego CONGO</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-el-hechizo-del-agua.webp" alt="Libro El hechizo del agua"/>
        </div>
        <div class="product-title">
          <h4>El hechizo del agua</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-el-peligro-de-estar-cuerda.webp" alt="Libro El peligro de estar cuerda"/>
        </div>
        <div class="product-title">
          <h4>El peligro de estar cuerda</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-tu-y-yo-invencibles.webp" alt="Libro Tu y yo invencibles"/>
        </div>
        <div class="product-title">
          <h4>Tú y yo invencibles</h4>
          <span>$3000</span>
        </div>            
      </article>

    </section>

    <section class="product">
      <h2 id="packs">Packs</h2>

      <article class="product-box">
        <div class="product-img">
          <a href="productDetail"><img src="images/Libro-anhelo.webp" alt="Libro Anhelo"/></a>
        </div>
        <div class="product-title">
          <h4>Anhelo</h4>
          <span>$4300</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-Caballo-de-fuego-congo.webp" alt="Libro Caballo de fuego congo"/>
        </div>
        <div class="product-title">
          <h4>Caballo de fuego CONGO</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-el-hechizo-del-agua.webp" alt="Libro El hechizo del agua"/>
        </div>
        <div class="product-title">
          <h4>El hechizo del agua</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-el-peligro-de-estar-cuerda.webp" alt="Libro El peligro de estar cuerda"/>
        </div>
        <div class="product-title">
          <h4>El peligro de estar cuerda</h4>
          <span>$3000</span>
        </div>            
      </article>

      <article class="product-box">
        <div class="product-img">
          <img src="images\Libro-tu-y-yo-invencibles.webp" alt="Libro Tu y yo invencibles"/>
        </div>
        <div class="product-title">
          <h4>Tú y yo invencibles</h4>
          <span>$3000</span>
        </div>            
      </article>

    </section>

  </main>

  <%- include('./partials/footer') %>
  </div>
</body>
</html>