<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="top-bar">
            <p>Lugar para promociones</p>
        </section>
        <section class="main-header">
            <div class="menu-hamburquesa">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="main-logo">
                <img src="/images/02-Logo-small.jpeg" alt="Logo de la Libreria Entrelineas">
            </div>
            <div class="form">
                <div class="input">Buscar libro, autor y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
             <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="login">
                <i class="fas fa-user-circle"></i>
            </div>
            <nav class="main-nav">
                <a href="#">Temática</a>
                <a href="#">Novedades</a>
                <a href="#">Más vendidos</a>
                <a href="#">Sagas</a>
                <a href="#">Packs</a>
            </nav>
          </section>
    </header>
    <main>
        <img src="" alt=""/>
        <section>
            <h3>Nombre del libro</h3>
            <p>Autor</p>
            <p>Precio</p>
            <p>Sinopsis</p>
            <h4>Ficha técnica</h4>
            <ul>
                <li>Fecha de publicación</li>
                <li>Páginas</li>
                <li>Idioma</li>
                <li>Presentación</li>
            </ul>
        </section>
        <section>
            <h2>Otras publicaciones del autor...</h2>
            <div>
                <article>
                    <img src="" alt=""/>
                    <div>
                        <h4>Nombre del libro</h4>
                        <p>Precio</p>
                    </div>
                </article>
                <article>
                    <img src="" alt=""/>
                    <div>
                        <h4>Nombre del libro</h4>
                        <p>Precio</p>
                    </div>
                </article>
                <article>
                    <img src="" alt=""/>
                    <div>
                        <h4>Nombre del libro</h4>
                        <p>Precio</p>
                    </div>
                </article>
                <article>
                    <img src="" alt=""/>
                    <div>
                        <h4>Nombre del libro</h4>
                        <p>Precio</p>
                    </div>
                </article>
                <article>
                    <img src="" alt=""/>
                    <div>
                        <h4>Nombre del libro</h4>
                        <p>Precio</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>


    </footer>
</body>
</html>