<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/registerStyle.css">
    <title>Registrarse</title>
</head>
<body>
  <%- include('./partials/header') %>
    <br/>
    <main>
        <h2>Buscar producto que desea editar</h2>
        <br/>
        <div class="register-form">
        <form action="products/product/:id" method="get">
            <label for="product-id">Buscar producto por id:</label><br/>
            <input type="text" name="id" id="product-id"/>
            <br/>
            <button type="submit" value="buscar">Buscar</button>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>