<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
      <div class="complete-conteiner">
    <main>
        <div class="productCart-contain">
            <div class="image">
                <img src="/images/Libro-cianuro-espumoso.webp" alt="Libro cianuro espumoso" class="product-img">
            </div>
            <div class="description">
                <div class="product-tittle">
                    <h2>Cianuro espumoso</h2>
                </div>
                <div class="contador">
                    <h3>- 1 +</h3>
                </div>
                <div class="subtotal">
                    <p>1 x $1.900,00</p>
                    <p>Subtotal $1.900,00</p>
                </div>
                <br>
                <div class="total">
                    <h3>Total: $1.900,00</h3>
                </div>
                <br>
                <div class="button-contain">
                    <input type="submit" name="button" value="Comprar" class="button">
                </div>
            </div>
        </div>
    </main>
    <br>
    <%- include('./partials/footer') %>
    </div>
</body>